In [ ]:
import pandas as pd
import numpy as np
import csv
import os

# Define directories and novel name
data_folder = "data"  
result_folder = "res" 
novel = "alice" 

# Load French text
french_text = open(os.path.join(os.path.join(data_folder, novel), novel + "_fr.txt" ), 'r').read()  

# Load mentions and alignments data
mentions = pd.read_csv(os.path.join(os.path.join(result_folder, novel), 'mentions_used_fr.csv'))

# Drop rows where 'fr_text' or byte indices are None
mentions = mentions.dropna(subset=['fr_text', 'fr_startByte', 'fr_endByte'])

# Convert byte indices to integers
mentions['fr_startByte'] = mentions['fr_startByte'].astype(int)
mentions['fr_endByte'] = mentions['fr_endByte'].astype(int)

# Extract substring based on byte ranges from the french text and save to extracted_text (it should be the same as the fr_text column)
mentions['extracted_text'] = mentions.apply(lambda row: french_text[row['fr_startByte']:row['fr_endByte']], axis=1)
mentions[['fr_startByte', 'fr_endByte', 'fr_text', 'extracted_text']]

      fr_startByte  fr_endByte   fr_text extracted_text
1               43          48     Alice          Alice
2               67          75  sa soeur       sa soeur
3              161         165      elle           elle
4              210         218  sa soeur       sa soeur
5              297         302     Alice          Alice
...            ...         ...       ...            ...
3304        155730      155733       son            son
3305        155766      155770      elle           elle
3306        155766      155770      elle           elle
3307        156060      156062        se             se
3308        156073      156075        sa             sa

[2514 rows x 4 columns]